:root {
  --primary-color: #7e211b;
  --secondary-color-light: #f5e6d1;
  --secondary-color-dark: #a3a09e;
  --text-color: #383838;
  --bg-color: #f8f8f6;
  font-family: 'Inter', sans-serif;
}

html {
  background-color: var(--bg-color);
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
}

header a {
  position: absolute;
  left: 0;
}

header img {
  width: 55px;
  height: 80px;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

fieldset > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type='checkbox'] {
  appearance: none;
  position: relative;
  cursor: pointer;
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: var(--bg-color);
  border: 2px solid currentColor;
  border-radius: 5px;
  transform: translateY(5px);
}

input[type='checkbox']::before {
  position: absolute;
  content: '';
  display: block;
  width: 0.65em;
  height: 0.65em;
  right: 3px;
  top: 3px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 10px 10px var(--primary-color);
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

.open-form,
#add-book {
  color: var(--bg-color);
  background-color: var(--primary-color);
  width: 160px;
  height: 55px;
  margin: 15px auto 0;
  border-radius: 8px;
  font-size: 1.2rem;
}

.open-form:hover,
#add-book:hover {
  background-color: #9a0000;
}

.book-form-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  border-radius: 8px;
  margin: 200px auto;
  padding: 30px;
  max-width: 450px;
}

.close-form {
  align-self: end;
  background: none;
  border: none;
  color: var(--secondary-color-dark);
  font-weight: 700;
}

.close-form:hover {
  color: var(--text-color);
}

.book-form li {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.book-form li:nth-of-type(5) {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.book-form li:nth-of-type(5) label:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

#read {
  margin-left: 5px;
}

.book-form label {
  font-weight: 600;
}

.book-form input:not([type='checkbox']) {
  background-color: var(--bg-color);
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: 500;
}

.book-form input:focus:not([type='checkbox']) {
  outline: none;
  background-color: var(--secondary-color-light);
}

#title + span {
  position: relative;
}

#title:invalid + span::before {
  position: absolute;
  right: 0px;
  bottom: 40px;
  content: 'required';
  font-size: 0.8rem;
}

#title:invalid {
  border-color: #bf0000;
}

.book-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, 400px);
  margin: 40px;
}

.not-readed {
  background-color: var(--secondary-color-light);
}

.readed {
  background-image: linear-gradient(
    320deg,
    #757575 0%,
    hsl(0deg 0% 67%) 50%,
    hsl(0deg 0% 88%) 100%
  );
}

.book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(
    320deg,
    #757575 0%,
    hsl(0deg 0% 67%) 50%,
    hsl(0deg 0% 88%) 100%
  ); */
  border-radius: 8px;
  height: 400px;
  border: 2px solid var(--text-color);
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.book-card:hover {
  box-shadow: var(--secondary-color-dark) 5px 5px 0px 0px;
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.button-remove {
  position: absolute;
  color: var(--secondary-color-dark);
  right: 5px;
  top: 5px;
  width: 32px;
}

.button-remove svg:hover {
  color: var(--text-color);
  animation: rotate 1s;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 180deg;
  }
}

.book-title {
  text-align: center;
  margin: 20px;
}

.book-details {
  text-align: center;
}

.book-details li {
  margin: 10px 0;
}
